.venv/

# Ignore default directories
/backups/
!/backups/.gitkeep
data/*
logs/*

# Python cache files
**__pycache__/
lib/__pycache__/
*.pyc

# Ignore any files related to SSMS projects/solutions
vsworkspacestate.json
.ssms_suo
slnx.sqlite
/.vs
/.vs/*
/.vs/VSWorkspaceState.json


D:\Baldante\SATenantConsolidated_Tabs3_And_MyCase.bak
D:\Baldante\SATenantConsolidated_Tabs3_And_MyCase.zip